html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#map {
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 50px;
}


#map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

circle {
  fill: steelblue;
  stroke: white;
  stroke-width: 1;
  opacity: 0.8;
  transition: r 0.2s, fill 0.2s;
}

circle:hover {
  stroke: #7e7e7e;
  stroke-width: 2;
  opacity: 1;
}

#map circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
  background-color: var(--color);
}

.legend {
  display: flex;
  justify-content: center;
  gap: 1px;
  margin-block: 1rem;
  width: 700px;
  margin-inline: auto;
  font: 0.9rem system-ui, sans-serif;
  text-align: center;
}

.legend > div {
  flex: 1;
  padding: 0.5em 1em;
  color: white;
}